/* Reduce gap between navbar and title */
body {
  padding-top: 40px !important;
}

#header {
  margin-top: -20px !important;
  padding-top: 0px !important;
}

#header h1.title {
  margin-top: 0px !important;
  margin-bottom: 5px !important;
  padding-top: 0px !important;
}

.title.toc-ignore {
  margin-top: 0px !important;
  padding-top: 0px !important;
}