/* Home page - reduce gap between navbar and title */
body {
  padding-top: 50px !important;
}

#header {
  margin-top: -15px !important;
  padding-top: 0px !important;
}

#header h1.title {
  margin-top: 0px !important;
  margin-bottom: 5px !important;
  padding-top: 0px !important;
}

.title.toc-ignore {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
